# -*- mode: gitignore; -*-
*.swp
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
emacs.d/ac-comphist.dat
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
\#*

# Ignore url/cache
emacs.d/url/cache

*.backup
zsh/creds.zsh